.sobreall{
display: flex;
background-image: url(https://static.vecteezy.com/ti/photos-gratuite/t1/6991305-mur-blanc-avec-fauteuil-dans-salon-photo.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 950px;
}

.sobreleft{
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobreleft h1{
font-size: 36px;
margin-bottom: 100px;
}

.sobreleft p{
font-size: 24px;
margin-bottom: 60px;
}