.wrappercontatoall {
  background-color: rgb(155, 158, 126);
  height: 350px;
}

.wrappercontato {
  width: 70%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrappercontatoall h1 {
  color: black;
  font-size: 26px;
  margin-bottom: 36px;
  margin-top: 75px;
}

.wrappercontatoall h2 {
  font-size: 20px;
  color: white;
  line-height: 1.7;
}

.detail:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.wrappercontatoseguir img {
  width: 30px;
}

.sigaicon {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
}

.facebook, .twitter, .instagram {
  border-radius: 50px;
}

.facebook:hover, .twitter:hover, .instagram:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

@media(max-width: 1440px){

  .wrappercontatoall {
    background-color: rgb(155, 158, 126);
    height: 350px;
  }
  
  .wrappercontato {
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .wrappercontatoall h1 {
    color: black;
    font-size: 24px;
    margin-bottom: 34px;
    margin-top: 75px;
  }
  
  .wrappercontatoall h2 {
    font-size: 18px;
    color: white;
    line-height: 1.7;
  }
  
  .wrappercontatoseguir img {
    width: 28px;
  }
  
  .sigaicon {
    width: 45%;
    display: flex;
    justify-content: space-between;
  }
}

@media(max-width: 1024px){

  .wrappercontatoall {
    background-color: rgb(155, 158, 126);
    height: 350px;
  }
  
  .wrappercontato {
    width: 75%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .wrappercontatoall h1 {
    color: black;
    font-size: 22px;
    margin-bottom: 34px;
    margin-top: 75px;
  }
  
  .wrappercontatoall h2 {
    font-size: 16px;
    color: white;
    line-height: 1.7;
  }

  .wrappercontatoseguir img {
    width: 26px;
  }
  
  .sigaicon {
    width: 45%;
    display: flex;
    justify-content: space-between;
  }
}

@media(max-width: 768px){

  .wrappercontatoall {
    background-color: rgb(155, 158, 126);
    height: 550px;
  }
  
  .wrappercontato {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .wrappercontatoall h1 {
    color: black;
    font-size: 28px;
    margin-bottom: 34px;
    margin-top: 75px;
  }
  
  .wrappercontatoall h2 {
    font-size: 16px;
    color: white;
    line-height: 1.7;
  }

  .wrappercontatoseguir img {
    width: 30px;
  }
  
  .sigaicon {
    width: 55%;
    display: flex;
    justify-content: space-between;
  }

  .wrappercontatoleft, .wrappercontatomid, .wrappercontatoright, .wrappercontatoseguir{
    width: 35%;
  }
}

@media(max-width: 425px){

  .wrappercontatoall {
    background-color: rgb(155, 158, 126);
    height: 490px;
  }
  
  .wrappercontato {
    width: 75%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .wrappercontatoall h1 {
    color: black;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 58px;
  }
  
  .wrappercontatoall h2 {
    font-size: 14px;
    color: white;
    line-height: 1.7;
  }

  .wrappercontatoseguir img {
    width: 26px;
  }
  
  .sigaicon {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .wrappercontatoleft, .wrappercontatomid, .wrappercontatoright, .wrappercontatoseguir{
    width: 40%;
  }
}

@media(max-width: 375px){

  .wrappercontatoall {
    background-color: rgb(155, 158, 126);
    height: 480px;
  }
  
  .wrappercontato {
    width: 75%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .wrappercontatoall h1 {
    color: black;
    font-size: 23px;
    margin-bottom: 28px;
    margin-top: 55px;
  }
  
  .wrappercontatoall h2 {
    font-size: 13px;
    color: white;
    line-height: 1.7;
  }

  .wrappercontatoseguir img {
    width: 26px;
  }
  
  .sigaicon {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .wrappercontatoleft, .wrappercontatomid, .wrappercontatoright, .wrappercontatoseguir{
    width: 43%;
  }
}

@media(max-width: 320px){

  .wrappercontatoall {
    background-color: rgb(155, 158, 126);
    height: 450px;
  }
  
  .wrappercontato {
    width: 75%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .wrappercontatoall h1 {
    color: black;
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 50px;
  }
  
  .wrappercontatoall h2 {
    font-size: 12px;
    color: white;
    line-height: 1.7;
  }

  .wrappercontatoseguir img {
    width: 23px;
  }
  
  .sigaicon {
    width: 85%;
    display: flex;
    justify-content: space-between;
  }
}