.wrapperlojaall {
  height: 580px;
  display: flex;
  align-items: center;
  margin-top: 100px;
  scroll-margin-top: 200px;
}

.wrapperlojaleft {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

.lojatext {
  line-height: 48px;
}

.wrapperlojaright {
  width: 60%;
  height: 650px;
  margin-left: 100px;
  margin-top: 150px;
  align-items: center;
}

.lojacards {
  margin-right: 35px;
  -webkit-box-shadow: 16px 16px 41px -24px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 16px 16px 41px -24px rgba(0, 0, 0, 0.5);
  box-shadow: 16px 16px 41px -24px rgba(0, 0, 0, 0.5);
}

.lojacards:hover {
  cursor: pointer;
  transform: scale(1.08);
  transition: 0.3s;
}

.lojapic img {
  width: 100%; 
}

.lojatext h2 {
  line-height: 34px;
}

.lojatext h2, p {
  display: flex;
  align-items: center;
  justify-content: center;
}