.wrapperall {
  display: flex;
}

.wrapperleft {
  width: 50%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.img1 {
  width: 350px;
  height: 450px;
  margin-left: 5%;
}

.img2 {
  width: 300px;
  height: 300px;
  margin-left: 3%;
  margin-bottom: 150px;
}

.box {
  width: 480px;
  height: 200px;
  -webkit-box-shadow: 16px 16px 41px -24px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 16px 16px 41px -24px rgba(0, 0, 0, 0.5);
  box-shadow: 16px 16px 41px -24px rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: 325px;
  margin-left: 275px;
  background-color: white;
  padding: 26px;
}

.picname {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 24px;
  gap: 16px;
}

.box img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.box p {
  line-height: 24px;
}

.wrapperright {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 250px;
}

.wrapperright h1 {
  line-height: 46px;
}

.name2 {
  color: rgb(43, 185, 155);
  margin-bottom: 32px;
}

.wrapperright p {
  line-height: 36px;
  margin-bottom: 32px;
}

.botao {
  width: 175px;
  height: 45px;
  background-color: rgb(222, 224, 67);
  border-radius: 6px;
  border: none;
  margin-top: 48px;
}

.botao:hover {
  cursor: pointer;
  background-color: rgb(237, 240, 97);
  transition: 0.3s;
}