.wrappertrabalhosall {
  display: flex;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 140px;
  scroll-margin-top: 150px;

}

.wrappertrabalhosleft {
  width: 20%;
  margin-left: 15%;
}

.wrappertrabalhosleft h1 {
  line-height: 46px;
  margin-top: 150px;
  margin-bottom: 32px;
}

.trabalhotext {
  margin-left: 0;
  line-height: 36px;
}

.wrappertrabalhosright {
  width: 850px;
  height: 450px;
  margin-left: 150px;
}

.wrappertrabalhosright img {
  margin-top: 100px;
  width: 350px;
  height: 450px;
}

.wrappertrabalhosright img:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.3s;
}

.wrappertrabalhosright .slick-dots li{
  z-index: 1px;
}